*{
      font-family: "Poppins", sans-serif;
      
}




#productModal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#productModal.show{
  display: flex 
}

#productModal > .modal-box {
  width: min(92vw, 420px) ;
  max-width: 420px;
  margin: 0 ;
}



html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}


#productModal {
  position: fixed ;
  inset: 0 ;
}

#productModal * {
  min-width: 0;
  box-sizing: border-box;
}
